csv_plotter/untracked/csv_test_multi.csv
venv1
venv2
.DS_Store
stdout/dump68.txt
stdout/dump67.txt
stdout/dump65.txt
# pkl/v5_theta_test_trained_20_04-1237.pkl
# pkl/v5_theta_test_trained_20_04-2356.pkl
pkl/v5_theta_test_trained_20_04-2356.pkl
pkl/v8_theta_test_trained_25_04-1847.pkl
pkl/v9_theta_test_trained_24_04-1433.pkl
pkl/v9_theta_test_trained_24_04-1433.pkl
pkl/v8_theta_test_trained_25_04-1847.pkl
pkl/v5_theta_test_trained_20_04-2356.pkl
